body,.container{max-width: 780px;}
.banner img{ width:100%;}
.active{background: url("../images/bg22.png") no-repeat;background-size:100%;width:100%;}
.lottery-help{text-align: center;width: 100%;font-size: 0.5rem;}
.lottery-help span{font-family: inherit;color: #fff;}
.lottery-help a{font-family: inherit;float: right;  color: #F6EA20;}

#lottery{margin-top: 0.5rem;margin-left: 0.1rem;margin-right: 0.1rem}
.lottery-unit{width: 33.333%;float: left;}
.lottery-unit-4{}
.startbtn{margin-top: -90%;margin-left:30%; width: 50%}
.money{font-family: sans-serif;margin-top: -35%;margin-left: 0.4rem; width: 100%;color: #FE5719;font-size: 0.25rem;}
.front{background: url("../images/front.png") no-repeat;width: 100%}
.back{display: none}
.back img{width: 100%}



.explain{text-align: center;margin-bottom: 0.2rem;margin-top: 0.5rem;}
.explain span{font-size:large;color: #fff;}
.explain img{margin-top: 0.2rem;width: 100%}
.desc-ul{text-align:left;font-weight: bold;font-style: italic;color: darkgrey;background-color: #fff;font-size: 0.5px; padding: 0 1rem;min-height:1.5rem; }
.description{list-style-type: decimal}
.foot{margin-bottom: -0.2rem;color: black;float:right;font-style: initial}



.overlay {display: none;position:absolute;top:0;width: 100%;height: 100%;z-index: 300;background:rgba(15, 17, 17, 0.7)repeat scroll 0 0}
.close{margin-top: 25%;}
.info{background: url("../images/awdbg.png") no-repeat;background-size:80%;margin-left: 10%; margin-top: 50%;}
.prize{width: 80%;margin-left:2%; }

.prize-desc{margin-top: -17%;font-size: 0.5rem;color: #DBE0DE;margin-left: 18%}

.share-btn{width:3.2rem;height:1.5rem;margin-left: 20%;margin-top: 1rem;border-radius: 0.1rem;font-size: 0.5rem;}
